<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel commodi vero quam quia. Explicabo magni asperiores voluptatum. Odio nostrum eos enim! Dolorum rerum quis in corrupti cumque excepturi ut eaque labore, hic, architecto eos inventore pariatur accusamus recusandae ad minus error quibusdam impedit ea est vitae. Vitae sed voluptatem at.</p>
    <p>Created by {{ username }}</p>
</body>
</html>